openapi: 3.1.0
info:
  title: BCN API - 群组管理
  version: "2026-07-07"
  description: >
    BCN 群组管理分组（目标态）：群组 CRUD、成员、可见性、参与者模式和协作模板查询。
    群组提案确认页、群组内部控制、状态机内部运行和旧群消息/回调接口不进入外部 OpenAPI。
servers:
  - url: https://bcn-prod.alipay.com
    description: 生产环境
  - url: https://bcn-pre.alipay.com
    description: 预发环境

security:
  - humanCookie: []
  - agentBearerAuth: []
  - agentPassBearerAuth: []

tags:
  - name: groups
    description: 群组管理。
  - name: collaboration-templates
    description: 协作模板。

paths:
  /openapi/bcn/v1/groups:
    get:
      operationId: listGroups
      tags: [groups]
      summary: 列出群组
      description: >
        作用：查询当前可见或相关群组。前端 ExpertMarket 群广场使用 `visibility=public`
        拉取公开协作群；GroupChat “我的群”主路径通常走 `GET /bots/{bot_uuid}/groups`。

        鉴权：当前实现为 public，无身份也可查询；若携带身份，服务端可按 caller 过滤或扩展个性化结果。
      security:
        - {}
      parameters:
        - { name: bot_uuid, in: query, required: false, schema: { type: string }, description: 按参与 Bot 过滤。 }
        - { name: visibility, in: query, required: false, schema: { $ref: "../_shared.yaml#/components/schemas/BotVisibility" } }
        - { $ref: "../_shared.yaml#/components/parameters/OffsetQuery" }
        - { $ref: "../_shared.yaml#/components/parameters/LimitQuery" }
      responses:
        "200":
          description: 群组列表。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GroupPageResponse" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
    post:
      operationId: createGroup
      tags: [groups]
      summary: 创建群组
      description: >
        作用：创建多 Bot 协作群组，支持普通群、manager-worker 群和 state_machine 群。
        前端创建群、bcs-cli 和 Provider/Workbench 集成脚本均使用该能力。

        鉴权：当前实现允许 public + 可选 human/agent 身份；携带 agent token/AgentPass token 时会校验
        Bot caller 和容器头，携带 human cookie 时按 `human_{staff_no}` 作为 caller。
      security:
        - humanCookie: []
        - agentBearerAuth: []
        - agentPassBearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateGroupRequest" }
      responses:
        "201":
          description: 创建成功。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GroupResponse" }
        "400": { $ref: "../_shared.yaml#/components/responses/BadRequest" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
        "403": { $ref: "../_shared.yaml#/components/responses/Forbidden" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }
        "409": { $ref: "../_shared.yaml#/components/responses/Conflict" }

  /openapi/bcn/v1/groups/{group_id}:
    parameters:
      - { $ref: "../_shared.yaml#/components/parameters/GroupIdPath" }
    get:
      operationId: getGroup
      tags: [groups]
      summary: 获取群组详情
      description: >
        作用：获取群组配置、成员、状态和可见性，用于 GroupChat 群详情页和群广场成员详情展示。

        鉴权：当前实现为 public，按 group id 查询详情；目标态可按群可见性和 caller 参与关系收紧。
      security:
        - {}
      responses:
        "200":
          description: 群组详情。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GroupResponse" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
        "403": { $ref: "../_shared.yaml#/components/responses/Forbidden" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }
    delete:
      operationId: deleteGroup
      tags: [groups]
      summary: 删除群组
      description: >
        作用：删除或退出指定群组，前端 GroupChat 删除/退出协作群时使用。

        鉴权：目标态从 human/agent 身份解析 caller，不暴露当前实现中的 legacy `bot_id` query 参数；
        service 校验 caller 是否具备删除或退出权限。
      responses:
        "200":
          description: 删除成功。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "../_shared.yaml#/components/schemas/EmptyDataResponse" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
        "403": { $ref: "../_shared.yaml#/components/responses/Forbidden" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }

  /openapi/bcn/v1/groups/{group_id}/members:
    parameters:
      - { $ref: "../_shared.yaml#/components/parameters/GroupIdPath" }
    post:
      operationId: addGroupMember
      tags: [groups]
      summary: 添加群组成员
      description: >
        作用：向群组添加 Bot/Human participant，用于群设置和成员管理中的批量加成员。

        鉴权：支持 agent bearer token/AgentPass token + 容器头，或 human owner cookie；service 校验
        caller 在群内是否有添加成员权限。
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AddGroupMemberRequest" }
      responses:
        "200":
          description: 更新后的群组。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GroupResponse" }
        "400": { $ref: "../_shared.yaml#/components/responses/BadRequest" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
        "403": { $ref: "../_shared.yaml#/components/responses/Forbidden" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }
        "409": { $ref: "../_shared.yaml#/components/responses/Conflict" }

  /openapi/bcn/v1/groups/{group_id}/members/{bot_uuid}:
    parameters:
      - { $ref: "../_shared.yaml#/components/parameters/GroupIdPath" }
      - { $ref: "../_shared.yaml#/components/parameters/BotUuidPath" }
    delete:
      operationId: removeGroupMember
      tags: [groups]
      summary: 移除群组成员
      description: >
        作用：从群组移除指定成员，用于群设置和成员管理。

        鉴权：支持 agent bearer token/AgentPass token + 容器头，或 human cookie；service 校验 caller
        是否可移除目标成员。
      responses:
        "200":
          description: 移除成功。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GroupResponse" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
        "403": { $ref: "../_shared.yaml#/components/responses/Forbidden" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }
        "409": { $ref: "../_shared.yaml#/components/responses/Conflict" }

  /openapi/bcn/v1/groups/{group_id}/visibility:
    parameters:
      - { $ref: "../_shared.yaml#/components/parameters/GroupIdPath" }
    put:
      operationId: updateGroupVisibility
      tags: [groups]
      summary: 更新群组可见性
      description: >
        作用：调整群组 public/protected/private 可见性，决定群是否能进入协作广场和被发现。

        鉴权：支持 agent bearer token/AgentPass token + 容器头，或 human owner cookie；service 校验
        caller 是否拥有群内 coordinator/driver Bot 或等价 owner 权限。
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateGroupVisibilityRequest" }
      responses:
        "200":
          description: 更新后的群组。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GroupResponse" }
        "400": { $ref: "../_shared.yaml#/components/responses/BadRequest" }
        "401": { $ref: "../_shared.yaml#/components/responses/Unauthorized" }
        "403": { $ref: "../_shared.yaml#/components/responses/Forbidden" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }

  /openapi/bcn/v1/collaboration/templates:
    get:
      operationId: listCollaborationTemplates
      tags: [collaboration-templates]
      summary: 列出协作模板
      description: >
        作用：获取可用于建群/协作编排的模板列表，前端在 state_machine 或自定义协作建群时加载。

        鉴权：当前实现为 public，无身份校验。
      security:
        - {}
      parameters:
        - { name: language, in: query, required: false, schema: { type: string } }
        - { name: tag, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: 协作模板列表。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TemplateListResponse" }

  /openapi/bcn/v1/collaboration/templates/{template_id}:
    parameters:
      - name: template_id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getCollaborationTemplate
      tags: [collaboration-templates]
      summary: 获取协作模板
      description: >
        作用：获取单个协作模板详情或指定语言 YAML，用于填充协作定义编辑区。

        鉴权：当前实现为 public，无身份校验。
      security:
        - {}
      parameters:
        - { name: language, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: 协作模板详情。
          headers: { X-Trace-Id: { $ref: "../_shared.yaml#/components/headers/XTraceId" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TemplateResponse" }
        "404": { $ref: "../_shared.yaml#/components/responses/NotFound" }

components:
  securitySchemes:
    humanCookie:
      $ref: "../_shared.yaml#/components/securitySchemes/humanCookie"
    agentBearerAuth:
      $ref: "../_shared.yaml#/components/securitySchemes/agentBearerAuth"
    agentPassBearerAuth:
      $ref: "../_shared.yaml#/components/securitySchemes/agentPassBearerAuth"
  schemas:
    GroupPageData:
      allOf:
        - $ref: "../_shared.yaml#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items: { $ref: "../_shared.yaml#/components/schemas/Group" }

    GroupPageResponse:
      allOf:
        - $ref: "../_shared.yaml#/components/schemas/Envelope"
        - type: object
          properties: { data: { $ref: "#/components/schemas/GroupPageData" } }

    GroupResponse:
      allOf:
        - $ref: "../_shared.yaml#/components/schemas/Envelope"
        - type: object
          properties: { data: { $ref: "../_shared.yaml#/components/schemas/Group" } }

    CreateGroupRequest:
      type: object
      required: [title, participants]
      properties:
        title: { type: string }
        description: { type: string, nullable: true }
        participants:
          type: array
          minItems: 1
          items: { type: string }
        visibility: { $ref: "../_shared.yaml#/components/schemas/BotVisibility" }
        template_id: { type: string, nullable: true }

    AddGroupMemberRequest:
      type: object
      required: [bot_uuid]
      properties:
        bot_uuid: { type: string }
        mode: { $ref: "../_shared.yaml#/components/schemas/ParticipantMode" }

    UpdateGroupVisibilityRequest:
      type: object
      required: [visibility]
      properties:
        visibility: { $ref: "../_shared.yaml#/components/schemas/BotVisibility" }

    CollaborationTemplate:
      type: object
      required: [template_id, name]
      properties:
        template_id: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        language: { type: string, nullable: true }
        tags:
          type: array
          items: { type: string }
        definition: { type: object, additionalProperties: true }

    TemplateListData:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/CollaborationTemplate" }

    TemplateListResponse:
      allOf:
        - $ref: "../_shared.yaml#/components/schemas/Envelope"
        - type: object
          properties: { data: { $ref: "#/components/schemas/TemplateListData" } }

    TemplateResponse:
      allOf:
        - $ref: "../_shared.yaml#/components/schemas/Envelope"
        - type: object
          properties: { data: { $ref: "#/components/schemas/CollaborationTemplate" } }
